* {
  padding: 0px;
  margin: 0px;
  height: auto;
  font-family: sans-serif;
}

/* create a black header bar and center the text */
header {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* add a green background to noplogy logo */
#logo {
  background-color: green;
  padding: 15px 50px;
}

/* remove bullet points from list and move links to the RHS */
#nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;  
}

/* add padding to the links */
#nav-links li {
  padding: 10px 100px;
}

/* make LHS panels a column */
#lhs-column {
  display: flex;
  flex-direction: column;
}

/* style the panels on the LHS */
.lhs-panel {
  border: 2px solid black;
  height: auto;
  width: 1000px;
  padding: 10px;
  margin: 10px;
}

/* style black boxes */
.box {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 20px;
  color: white;
}

/* move boxes to be in a row */
.lhs-panel {
  display: flex;
}

/* space boxes in top panel */
.top {
  justify-content: space-around;
}

/* space boxes in middle panel */
.middle {
  justify-content: flex-end;
}

/* space boxes in bottom panel */
.bottom {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* style the RHS panel  */
#rhs-panel {
  border: 2px solid black;
  width: 350px;
  height: auto;
  padding: 10px;
  margin: 10px;
}

main {
  display: flex;
}